a {
    display:inline-block;
    width:100%;
    height:100%;
}

a>div { display: none; }
a:hover>div {
    display: block;
    position:absolute;
    right:0px;
    top:0px;
}

body {
    background-color: var(--back_color);
    color: var(--txt_color);
    font-family: sans-serif;
}

input {
    width: 200px;
    height: 30px;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 20;
}
h2 {
    text-align: center;
    font-size: 18;
    margin: 5px;
}

table {
    text-align: center;
    border-spacing: 0px;
    border: 1px solid var(--txt_color);
}

th {
    border: 1px solid var(--txt_color);
    padding: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
}

img {
    border: 3px solid var(--txt_color);
    height: 80px;
}

p {
    color: var(--back_color);
}

#top-section {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#left-block {
    position: absolute;
    left: 0px;
    width: 300px;
    height: 100%;
}
#center-block {
    position: absolute;
    padding: 5px;
    left: 20%;
    right: 700px;
    height: 100%;
}

#turn_title {
    position: absolute;
    font-weight: bold;
    padding: 5px;
    left: 10%;
    display: inline-block;
    text-align: center;
    font-size: 30;
    width: 220px;
}

#my_resources {
    width: 160px;
    padding-right: 0px;
}

#button_div {
    position: absolute;
    top: 80px;
}

#slider_id_div {
    display: none;
    margin-top: 70px;
}
h3 {
    text-align: left;
}

.resource_box_mine {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 3px;
    margin-right: 3px;
    border: 3px solid black;
    float: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#board {
  position: absolute;
  top: 200px;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
  width: 80vh;
  height: 80vh;
}

.tile {
  border: 1px solid #000;
  background-color: #fff;
}

.red_color {
    color: #990000;
}
.yellow_color {
    color: #b3b300;
}
.green_color {
    color: #006600;
}
.grey_color {
    background-color: #e6e6e6;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
